body {

background:

linear-gradient(120deg,#0a0a0a,#140000,#1a0000);

color:white;

font-family:Inter;

overflow-x:hidden;

}

/* NAV */

nav{

backdrop-filter:blur(15px);

background:rgba(139,0,0,0.25);

border-bottom:1px solid rgba(255,255,255,0.1);

}

/* HERO */

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-family:"Playfair Display";

font-size:5rem;

letter-spacing:2px;

}

.typing{

color:#ff2e63;

font-size:1.5rem;

}

/* GLASS CARD */

.glass{

background:rgba(255,255,255,0.05);

backdrop-filter:blur(20px);

border-radius:15px;

padding:30px;

transition:0.4s;

}

.glass:hover{

transform:translateY(-10px);

box-shadow:0 0 40px rgba(255,0,0,0.3);

}

/* PROJECTS */

.project img{

width:100%;

border-radius:10px;

}

/* FADE */

.fade-in{

opacity:0;

transform:translateY(40px);

transition:1s;

}

.fade-in.visible{

opacity:1;

transform:translateY(0);

}

body{

background:linear-gradient(180deg,#1a0000,#000);

font-family:serif;

}
